
*{
    -fx-white: #FFFFFF;
    -fx-green: #4CB051;
    -fx-red: #BA1A1A;
    -fx-blue: #006496;
    -fx-gray: #DEE3EA;


    -fx-black-25: #111318;
    -fx-blue-8: #00649614;
    -fx-blue-5: #0064960d;
    -fx-blue-3: #00649608;
    -fx-green-5: #4cb0510d;
    -fx-red-5: #ba1a1a0d;

    -fx-text-primary: #191C20;
    -fx-text-secondary: #76777A;
    -fx-text-error: #BA1A1A;
    -fx-shadow: #20252980;
}

/**************************************************
 * CONTAINERS
**************************************************/

.background-container {
    -fx-background-color: -fx-white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, -fx-shadow, 15, 0, 0, 0);
    -fx-background-insets: 10;
}
.background-notification-container {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, -fx-shadow, 5, 0, 0, 0);
    -fx-background-insets: 5;
}
.background-white{
    -fx-background-color: -fx-white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}
.background-blue{
    -fx-background-color: -fx-blue-5;
}


/**************************************************
 * BUTTON
**************************************************/
#primary-button{
    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
#secondary-button{
    -fx-background-color: transparent;
    -fx-border-color: -fx-blue;
    -fx-text-fill: -fx-blue;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.link-button{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-blue;
    -fx-cursor: hand;
}
.icon-button{
    -fx-cursor: hand;
}

/**************************************************
 * TEXT
**************************************************/
.active-text{
    -fx-text-fill:  -fx-text-primary;
}
.inactive-text{
    -fx-text-fill: -fx-text-secondary;
}
.error-text{
    -fx-text-fill: -fx-text-error;
}

/**************************************************
 * INPUT
**************************************************/
.input {
    -fx-border-color: -fx-gray;
}
.input:focus-within{
    -fx-border-color: -fx-blue;
}

.select-input{
    -mfx-main: -fx-blue;
}
.select-input:hover {
    -fx-background-color: -fx-blue-3;
}
.mfx-combo-box-cell:hover {
    -fx-background-color: -fx-blue-5;
}
.mfx-combo-box-cell:selected {
    -fx-background-color: -fx-blue-8;
}


/**************************************************
 * PROGRESS BAR
**************************************************/
#progress-bar .track{
    -fx-fill: -fx-gray;
}
.mfx-progress-bar .bar1{
    -fx-fill: -fx-green;
}
.mfx-progress-bar .track,
.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2 {
    -fx-stroke-width: 1;
}
