<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="C:/Users/${sys:user.name}/OSIGNER/OSigner.log" append="true">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.oefa.signer" level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
